<!DOCTYPE html>

<html>

<head>
    <title>Login Page</title>
    <link rel = "stylesheet" href="./static/style.css" />
    <body>
        <div class="body">
            <h1>Register Here</h1>
            <form>
                <p>First Name</p>
                <input type="text" name= "" placeholder="Enter First Name" required>
                <p>Last Name</p>
                <input type="text" name= "" placeholder="Enter Last Name" required>
                <p>Username</p>
                <input type="text" name= "" placeholder="Enter Username" required>
                <p>Password</p>
                <input type="text" name= "" placeholder="Enter Password" required>
            </form>
        </div>
    </body>  